@import '../../../styles.scss';

.form-festival {
  max-width: 600px;
  margin: auto;
  &__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  &__field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }
  &__actions {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}
input,
.form-festival__input,
.p-multiselect.p-component,
textarea {
  width: 100% !important;
}

ul {
  list-style-type: none;
  padding-left: 0;

  li {
    background-color: $color-blue;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
  }
}

.double {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  .artists,
  form {
    width: calc(50% - 5px);
    * {
      width: 100%;
    }
  }
}

.cancel {
  margin: auto;
}
