@import '../../../styles.scss';

.festival-card {
  max-width: 500px !important;
  margin: auto;
}

.btn-edit {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.artists-list {
  margin-top: 1rem;

  h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      background-color: $color-blue;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 5px;
    }
  }
}
